
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Inter:wght@400;600&display=swap');



h1 {
  text-align: center;
  font-size: 32px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 40px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2eef14e;
}

.cards-container {
    
  display: flex; 
  flex-wrap: wrap;
  justify-content: center; 
  gap: 30px; 
}


.card {
  background-color: rgb(237, 206, 229);
  padding: 30px 25px;
  border-radius: 10px;
  box-shadow: 0px 8px 18px rgba(131, 24, 115, 0.822);
  width: 320px; 
}


.card h2 {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
  color: #d81a7f;
}


.infos p {
  display: flex; 
  justify-content: space-between; 
  margin: 6px 0;
  border-bottom: 1px solid #d81a7f; 
  padding-bottom: 4px;
  font-size: 14px;
}


.infos strong {
  font-weight: 600;
  color: #100a0a;
}


.rodape {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.rodape a {
  color: #d81a7f;
  text-decoration: none;
  font-weight: bold;
}

.rodape a:hover {
  color: #340820;
  text-decoration: underline;
}
.idioma-titulo {
  font-size: 2em;
  margin-bottom: 20px;
  color: #222;
  border-left: 5px solid #d53987;
  padding-left: 10px;
  box-shadow: 0px 8px 18px rgba(223, 170, 216, 0.822);
}


.container {
  position: relative;
  text-align: center;
  color: rgba(246, 216, 232, 0.989);
  
}

.background {
  position: relative;
  height: 90vh;
  box-shadow: 0px 8px 18px rgb(185, 104, 173);
  overflow: hidden;
}

.background img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}


.overlay {
  background-color: rgba(41, 32, 39, 0.4);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.overlay h2 {
  font-size: 24px;
  letter-spacing: 2px;
  margin: 0;
}

.overlay h1 {
  font-size: 64px;
  font-weight: bold;
  margin: 10px 0;
}

.destino {
  padding: 10px 30px;
  font-size: 16px;
  border: 2px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0px 8px 18px rgba(233, 195, 228, 0.841);
}

.botoes {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.botoes a {
  color: #ede4e9;
  text-decoration: none;
  font-weight: bold;
}
.botoes button {
  background-color: #cb2a78;
  border: none;
  padding: 15px 30px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 8px 18px rgba(163, 94, 154, 0.822);
}

.botoes a:hover {
  color: #ff54b2;
}

.footer {
  
  color: #e773ad;
  text-align: center; 
  font: size 40px;
  padding:smaller; 
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}



.container2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}




.image-container {
  position: relative;
  overflow: hidden;
}
.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Filtro escuro */
  z-index: 1;
}

.image-container img {

  width: 100%;
  height: auto;
  display: block;
 
}
.text-top {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 0.9rem;
  letter-spacing: 2px;
  font-weight: 600;
  
}

.city-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
  color: white;
  text-shadow: 2px 2px 6px rgba(236, 229, 235, 0.866);

}
.text-top,
.city-name {
  z-index: 2;
}


.title {
  text-align: center;
  color: #cb2a78;
  font-weight: bold;
  margin: 15px 0 10px;
}

.card ul {
  list-style: none;
  padding: 0 20px;
  font-size: 0.95rem;
  line-height: 1.6;
}

.price {
  background-color: #cb2a78;
  color: black;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  margin-top: auto;
}

.btn {
  background-color: black;
  color: white;
  text-align: center;
  display: block;
  padding: 12px;
  margin: 10px 20px 20px;
  text-decoration: none;
  border-radius: 10px;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #333;
}
